[submodule "common/dot"]
	path = common/dot
	url = https://github.com/phetsims/dot.git
[submodule "common/assert"]
	path = common/assert
	url = https://github.com/phetsims/assert.git
[submodule "common/kite"]
	path = common/kite
	url = https://github.com/phetsims/kite.git
[submodule "common/phet-core"]
	path = common/phet-core
	url = https://github.com/phetsims/phet-core.git
