
h3 {
  font-size: 130%;
}

#apiList {
  background-color: #eee;
  position: relative;
  border: 1px solid #bbb;
  border-left: none;
  padding: 10px;
}

.navlink {
  font-weight: bold;
}

.sublink {
  padding-left: 1em;
}

.exampleScene {
  position: relative;
  left: 0;
  top: 0;
  margin: 10px auto;
}