@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

.brand {
  font: lighter 25px "Open Sans", sans-serif !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 40px;
}

.brand::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-image: url(logo-v1.svg);
  vertical-align: middle;
  margin-right: 5px;
}

.scenery-logo {
  font: lighter 70px "Open Sans", sans-serif !important;
}

.scenery-logo::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-image: url(logo-v1.svg);
  vertical-align: middle;
  margin-right: 20px;
}